@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h2>Lista de Alumnos</h2>
@foreach(Integrante integrante in ViewBag.Grupo.Values){
<a href='@Url.Action("SelectIntegrante", "Home", new {DNI=integrante.getDNI()})'>@integrante.getName()   
<img src="@integrante.getFoto()" alt="foto @integrante.getName()">

</a>
<br>
}

</div>
