@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Lista de Alumnos</h2>
    <div class="lista">
        <ul>
            @foreach (Integrante integrante in ViewBag.Grupo.Values)
            {
                <div>
                    <li><a href='@Url.Action("SelectIntegrante", "Home", new { DNI = integrante.getDNI() })'>
                        <img src="@integrante.getFoto()" alt="foto @integrante.getName()"> <br>@integrante.getName()
                    </a>
                </li>
            </div>

            <br>
        }
    </ul>
</div>

</div>
